c
* {

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 20px;
}

main {
    --green:#f2ffa7;
    --orange:#dc5042;
    --color:white;
    --transparent:transparent;
    --sections-border: 20px;
    --margin-bottom: 10px;
    --h2:'Array-Bold';
    --h5:'Courier New', Courier, monospace;
}

/* ---------Colors--------- */

/* ---------Fonts--------- */
@font-face {
    font-family: 'Array-Bold'; src: url('./resource/fonts/Array_Complete/Fonts/Array-Bold.otf');
}
h1 {font-family: 'Courier New', Courier, monospace; font-size: 30rem;} 
h2 {font-family: 'Courier New', Courier, monospace; font-size: 2rem;} 
h3 {font-family: 'Courier New', Courier, monospace; font-size: 1.5rem;} 
h4 {font-family: 'Courier New', Courier, monospace; font-size: 1rem;} 
h5 {font-family: 'Courier New', Courier, monospace; font-size: 0.5rem;}



/* ---------Header--------- */

.header-section {
    display: flex;
    position: sticky;
    top: 20px;
    background-color: var(--transparent);
    mix-blend-mode: lighten;
    justify-content: center;
    align-items: center;
}


.header-section #logo-name {
    font-family: 'Array-Bold', sans-serif;
    font-size: 1.5rem;
    color: #DC5042;
}

.header-section #my-nav #nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-section #my-nav #nav-menu{
    list-style: none;
}

.header-section #my-nav #nav-menu li{
    padding-left: 10px;
    padding-right: 10px;
    text-underline-offset: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #DC5042;
}

.header-section #my-nav #nav-menu li a{
    font-family: 'Courier New', Courier, monospace;
    color: #DC5042;
}



/* ---------Hello Section--------- */

.hello-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--green);
    height: 70vh;
    border-radius: 20px;
    padding-bottom: 70px;
    margin-bottom: var(--margin-bottom);
}

.header-section {
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin: 0px 10px 10px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.hello-section #header-title{
    text-align: center;
    color: #dc5042;
    font-size: 3em;
    font-family: 'Array-Bold', sans-serif;
    margin-bottom: 0;
    padding-top: 40px;
    line-height: 1em;
    margin-left: 1em;
    margin-right: 1em;
    transition: transform 0.7s ease-in-out;
}

.hello-section #header-title:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.hello-section #header-par{
    text-align: center;
    color: #DC5042;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5em;
    margin-right: 5em;
}


/* ---------Project Section--------- */

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgb(244, 244, 244);
    border-radius: var(--sections-border);
    margin-bottom: var(--margin-bottom);
}

.project-section #project-section-anchor {
    font-family: var(--h2);

}


.grid-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    display: flex;
    border: solid black 1px;
    width: 3em;
    height: 2em;
    justify-content: center;
    align-items: center;
    background-image: url(./img/2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    color: aliceblue;
    font-size: 70px;
    border-radius: 10px;
}

.grid-item:hover {
color: #DC5042;
}

.project-section img {
    display: block;
    flex-direction: row;
    width: 300px;
}

/* ---------Skills Section--------- */

.skills-section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--sections-border);
    background-color: var(--orange);
    margin-bottom: var(--margin-bottom);
}
.skills-section #skills-section-anchor {
    font-family: var(--h2);
    color: var(--green);
}

.skills-section h3, li {
    font-family: var(--h5);
    color: var(--green);
}

.skills-section li {
    list-style: none;
    display: inline;
}

.skills-section #skill-list {
   display: flex;
   gap: 20px;
   padding: 0;
   margin: 0;
}

/*--------- Grid Section ---------*/

.grid-section {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.7em;

}

.box-2, .box-3 {
    background-color: #f2ffa7;
    border-radius: var(--sections-border);
}

.box-1 {
    grid-column: span 2;
    background-color: #f2ffa7;
    border-radius: var(--sections-border);
}

.box-4 {
    grid-column: span 2;
    background-color: #f2ffa7;
    border-radius: var(--sections-border);
}

/*--------- Contact Section ---------*/

.contact-section {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--sections-border);
    background-color: black;
    color: var(--color);
}

.contact-section #contact-section-anchor {
    font-family: var(--h2);
}

.contact-section h3 a {
    color: var(--color);
    font-family: var(--h5);
}

ul#social-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
} 

.contact-section li{
    list-style: none;
    display: flex;
}



/* צריך לסדר פה הכל למט */

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

footer li {
    list-style: none;
    padding: 0;
    display: inline;
    gap: 20px;
}

footer ul {
    padding: 0;
}


/*--------- Contact Form ---------*/

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-section #contant-title {
    margin-top: 50px;
    font-family: 'Array-Bold', sans-serif;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.name-form {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid 0.2px var(--color);
    margin: 0;
}

.name-form:focus {
    all: unset;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid 0.2px var(--color);
    margin: 0;
}


.email-form {
    all: unset;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid var(--green) 2px;
    margin: 0;
}

.email-form {
    all: unset;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid 0.2px var(--color);
    margin: 0;
}


.message-form {
    all: unset;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid 0.2px var(--color);
    margin: 0;
}

.message-form {
    all: unset;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    background-color: var(--transparent);
    border: solid 0.2px var(--color);
    margin: 0;
}


.submit-button {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    background-color: var(--green);
    border: none;
    color: var(--orange);
}

.submit-button:hover {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    background-color: var(--orange);
    border: none;
    color: var(--color);
    cursor: pointer;
}



@media screen and (max-width: 700px) {
    body {
    }
    
    .hello-section #header-title {
        text-align: center;
        color: #dc5042;
        font-size: 2rem;
        font-family: 'Array-Bold', sans-serif;
        margin-bottom: 0;
        padding-top: 40px;
        line-height: 1em;
        margin-left: 1em;
        margin-right: 1em;
        transition: transform 0.7s ease-in-out;
    }
}

